body {
    background-image: url("../static/city.jpg");
    resize: both;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height: 700px;
    width: 100%;
}

   